@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

 a {
    text-decoration: none;
}

.header {
    background-color: #E7BCC9;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 107px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 136px;
}

.nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
}

.nav-list a {
    font-size: 18px;
    color: white;
    padding-block: 16px;
} 

.hamburger {
    border: none;
    background: none;
    border-top:  3px solid white;
    cursor: pointer;
    display: none;
}

.hamburger::before,
.hamburger::after {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    background: white;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
}

a#img {
    max-width: 400px;
}

#c {
    max-width: 484px;
    margin-left: 638px;
    top: 72px;
    position: relative;
    margin-top: -421px;
}

h2 {
    font-size: 34px;
    margin-top: 77px;
    margin-left: 20px;
    position: relative;
    top: -37px;
    color: #6c707d;
}

p {
    color: #6c707d;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 25px;
    text-align: justify;
    max-width: 58%;
    position: relative;
    margin-left: 20px;
}

a#b {
    text-decoration: none;
    background: #d61368;
    color: #fff;
    border-radius: 6px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 35px;
    margin-top: 0px;
    margin-left: 19px;
    display: inline-block;
    border: 0;
    transition: all .3s;
}

@media (max-width: 750px) {
    .hamburger {
        display: block;
        z-index: 1;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vw;
        background: #E7BCC9;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;

        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 0;
        pointer-events: none;
    }

    .nav-list a {
        font-size: 24px;
        opacity: 0;
    }

    .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
    }

    .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
    }

    .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
    }

    .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
    }

    .nav.active .nav-list a {
        opacity: 1;
    }

    .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
    }

    .nav.active .hamburger::before {
        transform: rotate(135deg);
    }

    .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
