@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

 a {
    text-decoration: none;
}

.header {
    background-color: #E7BCC9;
    padding-inline: 16px;
}

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 48px;
}


